---
layout: default
title: Priser - Performance Gym PT - Træning med resultater for alle
description: Træningscenter med skræddersyet resultatorienteret træning og fantastisk sammenhold mellem medlemmerne. Træning og motivation.
image: /assets/images/slides/bl-pulldown.jpg
permalink: /priser
slider-height: half-screen
slides:
  - headline: Personlig træning
    sub-heading: med resultater for alle
    image: /assets/images/slides/cj-prowler.jpg
---

<section class="container">
  <header class="text-center">
	  <h1>Priser i Performance Gym PT</h1>
  </header>
</section>

<!-- PRICE TABLE -->
<section>
  <div class="container">
    <header class="text-center">
		  <h2>Priser for personlig træning med ejerne</h2>
		</header>
    <div class="divider"><!-- lines divider --></div>
    {% include pt-prices.html tag="senior" %}

    <section id="about">
    {% include pts.html tag="senior" %}
    </section>

    <header class="text-center">
		  <h2>Priser for personlig træning med følgende trænere</h2>
		</header>

    {% include pt-prices.html tag="junior" %}
    <section id="about">
    {% include pts.html tag="junior" %}
    </section>
	</div>
</section>
<!-- PRICE TABLE -->

{% include call-now.html %}

{% include contact-form.html %}
