---
layout: default
title: Performance Gym PT - Træning med resultater for alle
description: Træningscenter med skræddersyet resultatorienteret træning og fantastisk sammenhold mellem medlemmerne. Træning og motivation.
image: /assets/images/slides/bl-pulldown.jpg
slider-height: full-screen
slides:
  - headline: Personlig træning
    sub-heading: med resultater for alle
    image: cj-prowler.jpg
  - headline: Personlig træning
    sub-heading: med resultater for alle
    image: bl-pulldown.jpg
  - headline: Personlig træning
    sub-heading: med resultater for alle
    image: cj-oar.jpg
---

<!-- ABOUT -->
<section id="about">
  <div class="container">
    <header class="text-center">
      <h1>Om Performance Gym PT</h1>
    </header>

    <div class="divider">
      <!-- lines divider -->
    </div>

    <article class="text-center big-paragraph">
      <p>I Performance Gym PT brænder vi for at hjælpe dig med at opnå dine mål. Vi har derfor skabt det ideelle træningscenter for udvikling af optimale resultater. Centeret byder på en motiverende stemning, som er med til at skabe gode relationer. Vi har det absolut bedste udstyr på markedet i en kvalitet, som matcher vores krav til alt hvad vi laver.</p>
      <p>Vi tilbyder individuel personlig træning til den kvalitetsbevidste klient.</p>
    </article>

    <header class="text-center" id="pt">
      <h1>Personlige trænere</h1>
    </header>

    <div class="divider">
      <!-- lines divider -->
    </div>

    <article class="text-center big-paragraph">
      <p>I Performance Gym PT er vi derfor flere personlige trænere, der alle kan tilbyde noget unikt. Vi er internationalt uddannede og stræber efter konstant at forbedre vores niveau. Vi sigter efter de ekstraordinære resultater for netop dig.</p>
      <p>Hvis du vil høre nærmere om, hvad vi kan gøre for netop dig, kan du altid booket et uforpligtende møde på aarhus@performancegym.dk - Så finder vi præcis den træner som passer til dig og din målsætning.</p>
    </article>

    {% include pts.html tag="senior junior" %}

  </div>
</section>
<!-- /ABOUT -->

{% include call-now.html %}

{% include map.html %}
