---
layout: default
title: Performance Gym Aarhus - Træning med resultater for alle
description: Træningscenter med skræddersyet resultatorienteret træning og fantastisk sammenhold mellem medlemmerne. Træning og motivation.
slider-height: full-screen
slides:
  - headline: Træning
    sub-heading: med resultater for alle
    image: slide-1.jpg
  - headline: Træning
    sub-heading: med resultater for alle
    image: slide-2.jpg
  - headline: Træning
    sub-heading: med resultater for alle
    image: slide-3.jpg
  - headline: Træning
    sub-heading: med resultater for alle
    image: slide-4.jpg
---

<!-- ABOUT -->
<section id="about">
  <div class="container">
    <header class="text-center">
      <h1>Om Performance Gym Aarhus</h1>
    </header>

    <div class="divider">
      <!-- lines divider -->
    </div>

    <article class="text-center big-paragraph">
      <p>I Performance Gym Aarhus har vi skabt det ideelle træningscenter for udvikling af optimale resultater. Vi tilbyder skræddersyet resultatorienteret træning til den kræsne kunde! Der er et fantastisk sammenhold iblandt medlemmerne, som skaber en motiverende stemning i centeret.</p>
      <p>Vi har kvalitetsudstyr fra Watson, Hammer Strength, Atlantis og Eleiko, som sætter rammerne for en god træning, og vores professionelle personale står klar med vejledning og service på allerhøjeste niveau.</p>
    </article>

    <header class="text-center" id="pt">
      <h1>Personlig træning</h1>
    </header>

    <div class="divider">
      <!-- lines divider -->
    </div>

    <article class="text-center big-paragraph">
      <p>I Performance Gym har vi ansat flere personlige trænere, der alle kan tilbyde noget unikt. Alle vores trænere er internationalt uddannet og sigter efter konstant at forbedre deres niveau. Derfor vil du opleve resultater som ikke før set - De absolut ekstraordinære resultater er hvad vi sigter efter ved hver eneste klient vi modtager.
      <p>Hvis du vil høre nærmere om hvad vi kan gøre for netop dig, kan du altid booket et uforpligtende møde på {{ site.email }} - Så finder vi præcis den træner som passer til dig og din målsætning.</p>
    </article>

    {% include pts.html tag="senior junior" %}

  </div>
</section>
<!-- /ABOUT -->

{% include call-now.html %}

<section id="open">
  <div class="container">
    <header class="text-center">
      <h1>Åbningstider</h1>
    </header>

    <table class="table">
      <tr>
        <th>Mandag-Torsdag</th>
        <td>06.00-21.00</td>
      </tr>
      <tr>
        <th>Fredag</th>
        <td>06.00-20.00</td>
      </tr>
      <tr>
        <th>Lørdag-Søndag</th>
        <td>08.00-16.00</td>
      </tr>
    </table>
  </div>
</section>

{% include map.html %}
