---
layout: default
title: Personlig træner århus | Resultater for alle! ⇒ Performance Gym
description: PerformanceGym stræber efter de ekstraordinære resultater som din personlige træner i Aarhus. Sammen når vi dine mål! » Med resultater for alle 
image: /assets/images/slides/bl-pulldown.jpg
slider-height: full-screen
slides:
  - headline: Personlig træning
    sub-heading: med resultater for alle
    image: cj-prowler.jpg
  - headline: Personlig træning
    sub-heading: med resultater for alle
    image: bl-pulldown.jpg
  - headline: Personlig træning
    sub-heading: med resultater for alle
    image: cj-oar.jpg
---

<!-- ABOUT -->
<section id="about">
  <div class="container">
    <header class="text-center">
      <h1>Performance Gym PT - din personlige træner i Århus</h1>
    </header>

    <div class="divider">
      <!-- lines divider -->
    </div>

    <article class="text-center big-paragraph">
      <p>Hos Performance Gym PT har vi skabt et træningscenter, der danner de helt rette rammer for at du kan opnå dine ønskede resultater. Vi har indrettet vores træningscenter således at det skaber en motiverende atmosfære og giver muligheden for at skabe gode relationer. 
Med til at skabe det ideelle træningscenter, hører sig naturligvis det rette træningsudstyr - og her er vi ikke gået på kompromis.</p> 
<p>Vi har indrettet træningscenteret med det absolut bedste træningsudstyr på markedet, da det både skal leve op til vores høje krav til træningsudstyr, men ikke mindst for at det kan bidrage til at skabe netop de resultater som du ønsker - hvad end dette måtte være ønsket om forbedret kondition, øget styrke og meget mere, ønsker vi at du skal have det bedste træningsudstyr til rådighed under din træning. 
</p>
      <p>Vi tilbyder individuel personlig træning i Århus til den kvalitetsbevidste klient.</p>
    </article>

    <header class="text-center" id="pt">
      <h2>Personlige trænere</h2>
    </header>

    <div class="divider">
      <!-- lines divider -->
    </div>

    <article class="text-center big-paragraph">
      <p>For at opfylde kravet og ønsket om, at vi kan arbejde med netop den type træning du ønsker, har vi flere personlige trænere tilknyttet, som hver især har store kompetencer inden for bestemte områder. Vores personlige trænere er internationalt uddannede, og bestræber sig på hele tiden at forbedre sig, så de kan sikre den helt rette løsning for dig, således at du kan nå dine ønskede resultater. Fælles for alle vores personlige trænere er det, at de bestræber sig på, at opnå helt ekstraordinære resultater for netop dig. </p>
      <p>At vi har mange forskellige personlige trænere i Århus tilknyttet vores træningscenter, gør det muligt at hjælpe rigtig mange mennesker - vi kan blandt andet hjælpe med alt lige fra vægttab og konditionstræning, til at komme i form igen, efter eksempelvis en skadesperiode.</p>
      <p>Hvis du vil høre nærmere om, hvad vi som personlige trænere i Århus kan gøre for netop dig, kan du altid booket et uforpligtende møde på aarhus@performancegym.dk - Så finder vi præcis den træner som passer til dig og din målsætning.</p>
    </article>
    
    {% include pts.html tag="senior junior" %}
    
  <header class="text-center" id="pt">
      <h2>Hvad kan vi gøre for dig?</h2>
    </header>

    <div class="divider">
      <!-- lines divider -->
    </div>

    <article class="text-center big-paragraph">
      <p>Går du med overvejelser om at kaste dig ud i et samarbejde med en personlig træner i Århus, vil vi meget gerne hjælpe dig. Vi vil i fællesskab med dig, finde netop den personlige træner, der kan hjælpe dig med, at opnå dine optimale resultater og du og din personlige træner, vil i samarbejde udforme et træningsprogram, der er tilpasset dig og din målsætning. </p>
      <p>Én ud af de mange fordele ved et samarbejde med en personlig træner i Århus, er at du vil blive instrueret i den rette brug af vores træningsudstyr, og samtidig finde ud af, hvordan du får de bedst mulige resultater med netop disse - ingen mennesker er ens, og derfor er det også forskelligt, hvordan hver person får de bedste resultater ud af deres træning. 
Ud over korrekt brug af træningsudstyret, vil du også blive instrueret i, netop hvilket udstyr du bør anvende, for at opnå dine ønskede resultater. 
</p>
      <p>Hvad end du har mange års erfaring med træning, og blot ønsker at forbedre din viden og dine evner, eller du står over for at skulle igang med at træne, måske for første gang, kan vi garantere dig, at du får den helt rette vejledning og kommer godt i gang - forhåbentligt med dit livs form som resultat. 

Tag gerne et kig på vores personlige trænere - og så står vi altid klar til at tale med dig ved spørgsmål. 
</p>
    </article>

  </div>
</section>
<!-- /ABOUT -->

{% include call-now.html %}

{% include map.html %}
