---
layout: default
title: Performance Gym Aarhus - Træning med resultater for alle
description: Træningscenter med skræddersyet resultatorienteret træning og fantastisk sammenhold mellem medlemmerne. Træning og motivation.
permalink: /priser
slider-height: half-screen
slides:
  - headline: Træning
    sub-heading: med resultater for alle
    image: slide-2.jpg
---

<section id="prices" class="alternate">
  <div class="container">
    <header class="text-center">
      <h1>Priser</h1>
    </header>

    <table class="table">
      <tr>
        <th>Basis medlemsskab</th>
        <td>350 kr / mdr.</td>
      </tr>
      <tr>
        <th>Studerende</th>
        <td>300 kr / mdr.</td>
      </tr>
      <tr>
        <th>Oprettelsesgebyr</th>
        <td>250 kr</td>
      </tr>
    </table>
  </div>
</section>

{% include call-now.html %}

{% include map.html %}
