---
layout: default
title: Personlig træning i Performance Gym Aarhus
description: Træningscenter med skræddersyet resultatorienteret træning og fantastisk sammenhold mellem medlemmerne. Træning og motivation.
permalink: /pt
slider-height: half-screen
slides:
  - headline: Træning
    sub-heading: med resultater for alle
    image: slide-3.jpg
  - headline: Træning
    sub-heading: med resultater for alle
    image: slide-4.jpg
---

<!-- ABOUT -->
<section id="about">
  <div class="container">
    <header class="text-center" id="pt">
      <h1>Personlig træning</h1>
    </header>

    <div class="divider">
      <!-- lines divider -->
    </div>

    <article class="text-center big-paragraph">
      <p>I Performance Gym har vi ansat flere personlige trænere, der alle kan tilbyde noget unikt. Alle vores trænere er internationalt uddannet og sigter efter konstant at forbedre deres niveau. Derfor vil du opleve resultater som ikke før set - De absolut ekstraordinære resultater er hvad vi sigter efter ved hver eneste klient vi modtager.
      <p>Hvis du vil høre nærmere om hvad vi kan gøre for netop dig, kan du altid booket et uforpligtende møde på {{ site.email }} - Så finder vi præcis den træner som passer til dig og din målsætning.</p>
    </article>

    {% include pts.html tag="senior junior" %}

  </div>
</section>
<!-- /ABOUT -->

{% include call-now.html %}

{% include contact-form.html %}