<!-- GOOGLE MAP -->
<section id="googleMap" class="noindicator nomargin nopadding">
  <div class="container" id="contact">
    <div class="address-div animate_fade_in">
      <strong class="font-dosis fsize20">KONTAKT OS</strong>
      <ul>
        <li class="address-sprite address">
          Performance Gym PT
          <br />8230 Åbyhøj
          <br />Silkeborgvej 285 (gården)
          <br />Danmark
          <br />
        </li>
        <li class="address-sprite phone">
          Telefon: <a href="tel:{{ site.phone_html }}">{{ site.phone }}</a>
        </li>
        <li class="address-sprite email">
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div id="gmap"></div>
</section>
<!-- GOOGLE MAP -->
