<section id="open">
    <div class="container">
        <header class="text-center">
            <h1>Åbningstider</h1>
        </header>

        <table class="table">
            <tr>
                <th>Mandag-torsdag</th>
                <td>06.00-21.00</td>
            </tr>
            <tr>
                <th>Fredag</th>
                <td>06.00-20.00</td>
            </tr>
            <tr>
                <th>Lørdag-søndag</th>
                <td>08.00-16.00</td>
            </tr>
        </table>
    </div>
</section>
