<div class="me-picture text-center animate_fade_in">
  {% for pt in site.data.pts %}
  {% if include.tag contains pt.tag %}
  <!-- ITEM -->
  <div class="item">

    <!-- social icons -->
    <span class="socials animated bounceIn">
      {% if pt.website %}
        <a target="_blank" href="{{ pt.website }}" class="social fa fa-wordpress"></a>
      {% endif %}
      {% if pt.instagram %}
        <a target="_blank" href="{{ pt.instagram }}" class="social fa fa-instagram"></a>
      {% endif %}
      {% if pt.facebook %}
        <a target="_blank" href="{{ pt.facebook }}" class="social fa fa-facebook"></a>
      {% endif %}
      {% if pt.email %}
        <a href="mailto:{{ pt.email }}" class="social fa fa-envelope"></a>
      {% endif %}
    </span>

    <!-- image -->
    <img class="img-responsive" src="{{ pt.image }}" width="200" height="200" alt="{{ pt.name }} - {{ pt.title }}" />

    <!-- name -->
    <div class="member-name">
      <h3>
        {{ pt.name }}
        <small>{{ pt.title }}</small>
      </h3>
    </div>
  </div>
  <!-- /ITEM -->
  {% endif %}
  {% endfor %}
</div>
